        <footer>
            <div>
                <p>Data from <a href="https://api.nasa.gov" target="_blank">NASA's InSight: Mars Weather Service API</a></p>
                <p>Created by <a href="https://www.github.com/zachsnoek" target="_blank">Zachary D. Snoek</a></p>
            </div>
        </footer>
    </body>
</html>